section.footer 
    .footer__contact
        .footer__contact-img 
            img(src="./assets/imgLogo.png", alt="", srcset="")
        .footer__contact-text 
            h2 Contact us 
            span +84 977542603 (VN)
            a(href="#") giabao.231999@gmail.com
    .footer__address 
        h2 Head Office 
        span.footer__address-line1.
                10th floor, PGT Tower building, 220 Nguyen Huu Tho Str, Hoa Thuan Tay
                Ward, Hai Chau Dist, Da Nang City, Vietnam 
        .footer__social
            h2 Social media
            a(href="") http://facebook.com/giabaro 